<!-- https://xopixel.com/responsive-split-screen-layout-css3/ -->
<!DOCTYPE html>
<html>
<head>
  <title>NBBA</title>
</head>
<body>

<section class="xop-container">
    <div class="xop-left">
        <article>
            <h1>COACHES</h1><a class="xop-button">COACH'S BOX</a>
        </article>
    </div>
    <div class="xop-right">
        <article>
            <h1>PLAYERS</h1><a class="xop-button">PLAYER'S COURT</a>
        </article>
    </div>
</section>




</body>
</html>